[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://test.pypi.org/simple/"
verify_ssl = true
name = "testpypi"

[packages]
python-dotenv = "*"
injector = "*"
boto3 = "*"
tastytrade-sdk = {version = "==0.0.1.dev42", index = "testpypi"}

[dev-packages]
aws-cdk-lib = "*"

[requires]
python_version = "3.9"
